@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
    font-family: 'Beausite Classic';
    font-weight: 500;
    font-style: normal;
    src: url('../public/typography/Beausite Classic/Beausite Classic Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Beausite Classic';
        font-weight: 400;
        font-style: normal;
        src: url('../public/typography/Beausite Classic/Beausite Classic Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Beausite Slick';
        font-weight: 300;
        font-style: normal;
        src: url('../public/typography/Beausite Slick/Beausite Slick Trial Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Beausite Slick';
        font-weight: 400;
        font-style: normal;
        src: url('../public/typography/Beausite Slick/Beausite Slick Trial Regular.ttf') format('truetype');
    }
}

@layer components {
    .center {
        @apply flex justify-center items-center;
    }

    .containerize {
        @apply w-full px-[5vw];
    }

    .burger-bar {
        @apply h-[0.4vh] w-full bg-white rounded-full;
    }

    .navigation-section {
        @apply w-full flex flex-col justify-start items-start gap-[2vh];
    }

    .navigation-link {
        @apply text-4xl font-normal py-[0.25rem] group-hover:-translate-y-[3rem] sm:group-hover:translate-y-0 transition-transform duration-300 ease-in-out;
    }

    .navigation-contact {
        @apply bg-rock-200 hover:bg-white active:bg-white transition-[background-color] duration-200 ease-in-out px-[0.5vw] sm:px-[2.5vw] h-[4vh] flex justify-center items-center;
    }

    .form-agreement {
        @apply w-full flex justify-start items-baseline gap-[0.5vw] sm:gap-[2vw];
    }

    .form-agreement label {
        @apply cursor-pointer;
    }

    .form-agreement a {
        @apply underline
    }

    .form-checkbox {
        @apply accent-black outline-none;
    }

    .glass-button {
        @apply font-classic font-normal uppercase text-sm text-white border-[0.25vh] border-white/25 bg-white/10 backdrop-blur-2xl px-[1vw] sm:px-[4vw] py-[1vh] tracking-wider hover:bg-teal hover:border-teal;
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    .slide-in {
        animation: slide 0.5s ease-in-out forwards;
    }

    .slide-out {
        animation: slide 0.5s ease-in-out reverse forwards;
    }

    .blur {
        animation: blur 0.5s ease-in-out forwards;
    }

    .de-blur {
        animation: blur 0.5s ease-in-out reverse forwards;
    }

    @keyframes slide {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes blur {
        0% {
            background-color: rgb(249 245 242 / 0);
            backdrop-filter: blur(0);
        }
        100% {
            background-color: rgb(249 245 242 / 0.5);
            backdrop-filter: blur(24px);
        }
    }
}