@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
    font-family: 'Beausite Classic';
    font-weight: 500;
    font-style: normal;
    src: url('../public/typography/Beausite Classic/Beausite Classic Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Beausite Classic';
        font-weight: 400;
        font-style: normal;
        src: url('../public/typography/Beausite Classic/Beausite Classic Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Beausite Slick';
        font-weight: 300;
        font-style: normal;
        src: url('../public/typography/Beausite Slick/Beausite Slick Trial Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Beausite Slick';
        font-weight: 400;
        font-style: normal;
        src: url('../public/typography/Beausite Slick/Beausite Slick Trial Regular.ttf') format('truetype');
    }
}