@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --translate-featured: 0%;
    --animate-featured: 0ms;
    --scale-featured: 1;
}

@layer base {
    .containerize {
        @apply w-full px-[4vw] py-[4vw] lg:px-[2vw] lg:py-[2vw];
    }

    h1 {
        @apply text-4xl font-bold text-neutral-800;
    }

    h2 {
        @apply text-3xl font-bold text-neutral-800;
    }

    p {
        @apply text-base font-normal text-neutral-800;
    }

    label {
        @apply text-sm font-semibold text-neutral-800;
    }
}